.header{
    grid-area: h;
    background-color: Black;
    padding: 5px;
}
.header img {
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}
.loginBlock {
    float: right;
}
.item {
    color: gold;
}